div{
    height:100px;
    width: 200px;
    margin: auto;
    text-align:center;
    /* background-color: blue; */
    /* background-color: rgb(255, 100, 255); */
    /* background-color: rgb(255, 200, 25); */
    /* background-color: rgba(255,200,255, 0.5); */
    /* background-color: #ff0000; */
    /* background-color: #ffffff; */
    /* background-color: hsl(120, 80%, 50%); */

    /* background-color:hsl(0, 100%, 100%); */
    /* background-color:hsl(70,25%,80%); */
    background-color:hsla(240, 90%,50%,0.0);
    background-color: #4285F4;
    


}