ul {
    list-style-type:none;
    background-color: rgb(53, 7, 145);
    text-align: center;
    border-radius:5px;
}
li{
    display: inline-block;
    padding:10px;
}
li:hover{
    background-color:rgb(23, 41, 206) ;
    border-radius:5px;
}
a{
    text-decoration:solid;
    color:aliceblue;
}
.c1{
    color: rgb(53, 7, 145);
    position: relative;
        left: 70%;
        top: 60%;
        width:15%;
        background-color: rgb(53 7, 146);
        padding: 15px;
        font-size: 17px;
        border: 1px solid rgb(23, 1, 1);
        float: left;
        opacity: 1;
        margin-left:60px;
}
.logo img {
    position: relative;
    width: 100px;
    height:100px;
    float: left;
    margin-top:50px;
    cursor: pointer;
    margin-left: 20px;
}
.c2{
    color:rgb(9, 9, 35);
    background-image: url('/CSS/images/clz.jpeg');
    height: 800px;
    width:1400x;
    background-repeat: no-repeat;
    background-size: cover;
    
}
h1{
    color:rgb(71, 3, 72);
    display:inline-block;

}
.leftbox{
    background-color: rgba(106, 11, 41, 0.69);
    width:300px;
    height:200px;
    color:azure;
    /* float:left;*/
    display: inline-block;
    float: left;
    margin-left: 15%;
    padding: 20px;
} 
.rightbox {
    background-color: rgba(106, 11, 41, 0.69);
    width: 300px;
    height: 200px;
    color: azure;
    /* float:right; */
    display: inline-block;
    margin-left: 7%;
    padding: 20px;
}
    
.c3{
    float: right;
    background-color:rgb(6, 3, 24);
        top: 150%;
            right: 90%;
            width: 80px;
            height: 40px;
            position: absolute;
            z-index: 2;
            background: rgb(228, 116, 25);
            margin-right:10px;
        }
fieldset {
    height: 400px;
    width:400px;
    background: linear-gradient(rgb(29, 101, 246), rgba(0, 145, 255, 0.248));
    border-radius: 2px;

}



button {
    background: linear-gradient(rgb(0, 255, 208), blue);
    border: palevioletred;
}

#in1,
in2 {
    height: 30px;

}

#hello {
    background: linear-gradient(rgb(192, 252, 255), rgb(50, 94, 205));

}
.c4{
    float: right;
        /* background-color: rgb(40, 17, 186); */
        top: 90%;
        left: 30%;
        width: 30%;
        height: 200px;
        position: absolute;
        z-index: 2;
        margin-right: 12px;
        /* background: rgb(31, 21, 1); */
}

ul li ul.dropdown{
    width:100%;
    background:#22428c;
    position:absolute;
    z-index:999;
    display:none;
}